<!DOCTYPE html>
<html>
  <head>
    <title>RapMyMun</title>
  

  <script type="text/javascript">
  window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
  </script>
   <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key] }" %>

    <!-- Stylesheet below:-->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Images below:-->
    <script type="text/javascript">
    window.mtBaldyURL = "<%= image_url('mtBaldy.jpg') %>";
    window.pleasantonRidgeSunsetURL = "<%= image_url('pleasantonRidgeSunset.jpg') %>";
    window.PondURL = "<%= image_url('Pond.jpg') %>";
    window.pRidgeURL = "<%= image_url('pRidge.jpg') %>";
    window.mPeakURL = "<%= image_url('missionPeak.jpg') %>";

    window.githubURL = "<%= image_url('github.png') %>";
    window.workoutURL = "<%= image_url('workout_icon.jpg') %>";
    window.linkedInURL = "<%= image_url('linkedIn.png') %>";
    window.angelURL = "<%= image_url('angel.png') %>";
    </script>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>

    <%= yield %>

  </body>
</html>
